* {
    margin: 0;
    padding: 0;
}

.actions {
    margin-top:  100px;
    text-align: center;
}

.actions input {
    padding: 5px 10px;
    font-weight: bold;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    border: solid 4px black;
    margin: 100px auto;
    -ms-transition: width 2s; /* Safari */
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s; /* Safari */
}

/*Basic CSS3 styles*/
.box {
    box-shadow: 15px 15px 25px grey;
    border-radius: 40%;
}

.translate {
    -ms-transform: translate(50px,100px); /* IE 9 */
    -webkit-transform: translate(50px,100px); /* Safari */
    transform: translate(50px,100px);
}
.rotate {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
.scale {
    -ms-transform: scale(2,2.5); /* IE 9 */
    -webkit-transform: scale(2,2.5); /* Safari */
    transform: scale(2,2.5);
}
.screw {
    -ms-transform: skew(20deg, 10deg); /* IE 9 */
    -webkit-transform: skew(20deg, 10deg); /* Safari */
    transform: skew(20deg, 10deg);
}
.matrix {
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

/*3D Transforms*/
.translate3d {
    -ms-transform: translate3d(120px, 120px, -120px);
    -webkit-transform: translate3d(120px, 120px, -120px);
    transform: translate3d(120px, 120px, -120px);
}
.rotateY {
    -ms-transform: rotateY(60deg);
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
}
.scaleX {
    -ms-transform: scaleX(2);
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
}
.matrix3d {
    transform: matrix3d(0.359127, -0.469472, 0.806613, 0, 0.190951, 0.882948, 0.428884, 0, -0.913545, 0, 0.406737, 0, 0, 0, 0, 1);
}

/*CSS3 Transitions*/
.box {
    -webkit-transition: width 2s, height 4s, position 5s;
}

.tr_width {
    width: 300px;
}

.tr_height {
    height: 300px;   
}