.progressbar-wrapper {
    position: relative;
    float: left;
    width: 600px;
    height: 11px;
    padding: 4px;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    background: #C7C7C7;
    margin: 15px;
    margin-top: 0;
}
#progressBar {
    position: absolute;
    width: 0px;
    height: 11px;
    background: #5C5C5C;
    border-radius: 4px;
}
.action-buttons {
    clear: both;
}